:root {
    --coral: #F05D5E;
    --teal: #0F7173;
    --light: #E7ECEF;
    --dark: #272932;
    --camel: #D8A47F;
}

html {
    font-size: 100%;
}

h1 {
    font-size: 2.35rem;
}

p {
    font-size: 0.85rem;
}


body {
    background-color: var(--light);
    font-family: "Sofia", sans-serif;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    padding: 10px;
    margin: 10px;
}

img {
    width: 250px;
}


/* ------------------------------ @media ------------------------------------------*/

/* On screens that are 700px or more*/
@media screen and (min-width: 700px) {
    body {
        background-color: var(--coral);
    }
    h1 {
        font-size: 2.85rem;
    }
    p {
        font-size: 1.10rem;
    }
}

/* On screens that are 1000px or more*/
@media screen and (min-width: 1000px) {
    body {
        background-color: var(--camel);
    }
    h1 {
        font-size: 3.15rem;
    }
    p {
        font-size: 1.30rem;
    }
}
